.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contacts {
	background-color: rgba(25, 25, 25, 0.95);
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 15px;
	width: max-content;
	max-width: 60vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	margin-bottom: auto;
}

.contacts a {
	font-family: "Consolas", "Courier New";
	font-size: 20px;
	font-weight: 100;
	color: whitesmoke;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.contacts a {
		font-size: 1em;
	}
}
