.home-superContainer {
	display: flex;
	flex-direction: column;
	min-height: 60vh;
}

.home-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 1000px;
	padding: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.home-profilePic {
	border-radius: 15%;
	width: 200px;
	height: 100%;
	margin-right: 60px;
	background-color: rgba(25, 25, 25, 0.95);
	border: 25px solid rgba(25, 25, 25, 0.95);
	border-bottom: 0;
}

.home-bio {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	background-color: rgba(25, 25, 25, 0.95);
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: 100%;
	max-width: 70vw;
}

.home-greeting {
	margin-top: 0;
	color: whitesmoke;
	font-family: "Noto Sans", "Helvetica", sans-serif;
	font-size: 2rem;
	font-weight: 500;
}

.home-bioText {
	font-size: 18px;
	line-height: 1.5;
	color: whitesmoke;
	font-family: "Noto Sans", "Helvetica", sans-serif;
	font-weight: 400;
}

@media screen and (max-width: 768px) {
	.home-container {
		flex-direction: column;
		align-items: center;
	}

	.home-profilePic {
		width: 150px;
		height: 150px;
		margin: auto;
		margin-top: 10%;
	}

	.home-bio {
		margin-top: 10%;
	}

	.home-greeting {
		font-size: 1.5rem;
	}

	.home-bioText {
		font-size: 1rem;
	}
}
