.parent {
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
}

.grouping {
	font-family: "Inter", Helvetica, sans-serif;
	color: whitesmoke;
	font-size: 1.5em;
}

@media screen and (max-width: 768px) {
	.grouping {
		font-size: 1em;
	}
}
