.titlebar {
	margin: auto;
	display: block;
	margin-bottom: 1.5rem;
	margin-top: 1.5em;
	text-align: center;
}

nav a {
	color: whitesmoke;
	margin: 0 10px;
	font-size: 1.25em;
}

.titlebar ul {
	/* Remove default margins & padding */
	margin: 0;
	padding: 0;
}

.titleName {
	display: flex;
	justify-content: center;
	margin: auto;
	font-family: "Inter", "Helvetica", sans-serif;
	font-weight: 600;
	font-size: 3em;
}

/* Navigation Links */
.navList {
	font-family: "Inter", "Helvetica", sans-serif;
	font-weight: 500;
	font-size: 1.5em;
}

/* Animations start here */

@keyframes rainbow {
	0% {
		background-position: left;
	}

	50% {
		background-position: right;
	}

	100% {
		background-position: left;
	}
}

.titleNameText:hover,
a:hover {
	background: linear-gradient(
		to right,
		rgb(140, 175, 233),
		rgb(169, 157, 193),
		rgb(255, 197, 161),
		rgb(241, 151, 143)
	);
	background-size: 200% 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow 3s ease-in-out infinite;
	transition: background-position 0.2s ease-in-out;
}

/* Constants */
:root {
	--backgroundColour: #000000;
}

/* Media */
@media screen and (max-width: 768px) {
	.titleNameText {
		font-size: 1.75rem;
	}

	nav {
		padding: 5px;
	}

	nav a {
		margin: 0.5rem;
		font-size: 1rem;
	}

	.navList {
		margin: auto;
		font-size: 0.75rem;
	}

	.titlebar {
		margin-bottom: 1rem;
	}
}
