@import "tailwindcss";
@import "@heroui/styles";

@utility border-fg {
  @apply border border-foreground/20;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overscroll-behavior: none;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Custom Breakpoints */
@theme {
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 200rem;
}

/* Glow on hover */
a {
  @apply transition-[text-shadow] duration-300 hover:[text-shadow:0_0_15px_whitesmoke];
}

/* Star Animation Stuff */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1311px 590px #fff,
    253px 1047px #fff,
    483px 314px #fff,
    417px 1617px #fff,
    1912px 291px #fff,
    117px 251px #fff,
    1236px 818px #fff,
    1233px 1184px #fff,
    440px 73px #fff,
    1591px 248px #fff,
    1024px 88px #fff,
    383px 642px #fff,
    1488px 933px #fff,
    461px 793px #fff,
    148px 1580px #fff,
    902px 1193px #fff,
    471px 1176px #fff,
    1147px 1463px #fff,
    1858px 1692px #fff,
    1019px 718px #fff,
    1570px 237px #fff,
    884px 255px #fff,
    1695px 1540px #fff,
    307px 390px #fff,
    809px 274px #fff,
    1218px 1446px #fff,
    907px 672px #fff,
    1925px 280px #fff,
    614px 489px #fff,
    954px 1125px #fff,
    428px 771px #fff,
    773px 1808px #fff,
    44px 1425px #fff,
    585px 264px #fff,
    374px 792px #fff,
    401px 1424px #fff,
    1954px 469px #fff,
    271px 1801px #fff,
    1775px 655px #fff,
    1510px 693px #fff,
    312px 799px #fff,
    1344px 1757px #fff,
    1904px 843px #fff,
    1916px 1610px #fff,
    1943px 1095px #fff,
    1791px 1407px #fff,
    1815px 676px #fff,
    846px 1068px #fff,
    292px 359px #fff,
    703px 1909px #fff,
    215px 1486px #fff,
    277px 301px #fff,
    232px 774px #fff,
    1395px 1581px #fff,
    1645px 1673px #fff,
    1234px 1710px #fff,
    1539px 719px #fff,
    1722px 1088px #fff,
    1411px 1269px #fff,
    605px 1427px #fff,
    187px 303px #fff,
    780px 1730px #fff,
    750px 1421px #fff,
    966px 1862px #fff,
    1954px 29px #fff,
    1330px 272px #fff,
    614px 1023px #fff,
    196px 712px #fff,
    1281px 1223px #fff,
    1711px 1541px #fff,
    1122px 1847px #fff,
    882px 889px #fff,
    1281px 211px #fff,
    1318px 1468px #fff,
    840px 651px #fff,
    609px 720px #fff,
    1997px 15px #fff,
    1366px 112px #fff,
    1544px 99px #fff,
    1086px 533px #fff,
    207px 724px #fff,
    383px 831px #fff,
    1850px 1262px #fff,
    1876px 815px #fff,
    228px 125px #fff,
    1569px 1504px #fff,
    1439px 49px #fff,
    1693px 1938px #fff,
    1222px 367px #fff,
    1450px 915px #fff,
    55px 796px #fff,
    201px 1740px #fff,
    431px 1184px #fff,
    1771px 1683px #fff,
    772px 1192px #fff,
    1305px 584px #fff,
    1018px 422px #fff,
    112px 1887px #fff,
    727px 1246px #fff,
    212px 647px #fff,
    1519px 358px #fff,
    358px 784px #fff,
    940px 933px #fff,
    558px 1277px #fff,
    1305px 483px #fff,
    222px 384px #fff,
    1747px 426px #fff,
    1148px 868px #fff,
    711px 1502px #fff,
    1606px 376px #fff,
    1730px 350px #fff,
    1059px 1147px #fff,
    1331px 1460px #fff,
    1444px 1506px #fff,
    685px 1325px #fff,
    327px 167px #fff,
    1894px 1245px #fff,
    1069px 851px #fff,
    1658px 1788px #fff,
    1802px 361px #fff,
    765px 786px #fff,
    1966px 1981px #fff,
    644px 1784px #fff,
    38px 734px #fff,
    661px 1848px #fff,
    939px 217px #fff,
    83px 1428px #fff,
    92px 1752px #fff,
    537px 1970px #fff,
    837px 793px #fff,
    625px 920px #fff,
    1427px 759px #fff,
    252px 834px #fff,
    620px 751px #fff,
    1815px 230px #fff,
    176px 640px #fff,
    11px 1351px #fff,
    723px 1316px #fff,
    1991px 761px #fff,
    853px 319px #fff,
    1736px 439px #fff,
    885px 1798px #fff,
    1762px 896px #fff,
    1054px 598px #fff,
    1945px 146px #fff,
    228px 1744px #fff,
    370px 262px #fff,
    1003px 756px #fff,
    1406px 1333px #fff,
    1378px 1839px #fff,
    855px 834px #fff,
    1207px 1951px #fff,
    1986px 350px #fff,
    535px 198px #fff,
    1320px 441px #fff,
    534px 374px #fff,
    1354px 699px #fff,
    807px 563px #fff,
    1382px 941px #fff,
    577px 1508px #fff,
    1772px 1741px #fff,
    1792px 1767px #fff,
    33px 1395px #fff,
    1485px 670px #fff,
    1298px 1266px #fff,
    1353px 1122px #fff,
    1201px 569px #fff,
    252px 1365px #fff,
    96px 1051px #fff,
    1410px 696px #fff,
    1255px 525px #fff,
    1325px 1353px #fff,
    684px 1374px #fff,
    915px 416px #fff,
    261px 1677px #fff,
    534px 678px #fff,
    1148px 796px #fff,
    1015px 1471px #fff,
    1607px 556px #fff,
    1216px 1553px #fff,
    1427px 1012px #fff,
    1995px 1922px #fff,
    998px 754px #fff,
    538px 1574px #fff,
    1777px 1735px #fff,
    1702px 686px #fff,
    1409px 264px #fff,
    1933px 1482px #fff,
    1876px 1071px #fff,
    1453px 635px #fff,
    1022px 1622px #fff,
    1285px 1382px #fff,
    1699px 774px #fff,
    245px 1852px #fff,
    1270px 730px #fff,
    1816px 1320px #fff,
    1569px 1722px #fff,
    261px 213px #fff,
    1479px 1920px #fff,
    179px 834px #fff,
    1941px 336px #fff,
    192px 1976px #fff,
    142px 1137px #fff,
    1374px 124px #fff,
    60px 1772px #fff,
    479px 302px #fff,
    1035px 476px #fff,
    818px 851px #fff,
    1087px 1011px #fff,
    257px 121px #fff,
    1982px 1789px #fff,
    5px 1930px #fff,
    539px 1665px #fff,
    260px 834px #fff,
    527px 1366px #fff,
    1454px 1560px #fff,
    469px 1536px #fff,
    942px 1158px #fff,
    680px 156px #fff,
    1267px 1044px #fff,
    1429px 471px #fff,
    567px 1665px #fff,
    481px 442px #fff,
    118px 1174px #fff,
    1759px 1774px #fff,
    1827px 729px #fff,
    878px 804px #fff,
    1486px 17px #fff,
    1535px 485px #fff,
    372px 151px #fff,
    749px 1984px #fff,
    924px 1795px #fff,
    1458px 1127px #fff,
    1521px 912px #fff,
    1405px 793px #fff,
    1558px 806px #fff,
    1925px 428px #fff,
    1706px 145px #fff,
    919px 127px #fff,
    636px 96px #fff,
    512px 939px #fff,
    1040px 1000px #fff,
    575px 1832px #fff,
    1515px 1651px #fff,
    767px 1px #fff,
    60px 995px #fff,
    1146px 1140px #fff,
    1173px 1301px #fff,
    64px 1128px #fff,
    1205px 305px #fff,
    1319px 1650px #fff,
    1205px 826px #fff,
    1345px 1148px #fff,
    550px 1413px #fff,
    160px 557px #fff,
    1631px 1936px #fff,
    9px 1976px #fff,
    935px 1552px #fff,
    1740px 1858px #fff,
    1975px 1322px #fff,
    1212px 1078px #fff,
    110px 1165px #fff,
    1612px 651px #fff,
    1156px 1162px #fff,
    1148px 77px #fff,
    1987px 198px #fff,
    776px 1349px #fff,
    1754px 233px #fff,
    816px 624px #fff,
    225px 44px #fff,
    1781px 1272px #fff,
    1951px 1806px #fff,
    154px 866px #fff,
    1336px 531px #fff,
    1932px 1409px #fff,
    881px 1797px #fff,
    412px 1918px #fff,
    226px 736px #fff,
    117px 1105px #fff,
    395px 1928px #fff,
    1264px 1955px #fff,
    1668px 1700px #fff,
    587px 1820px #fff,
    1271px 1149px #fff,
    168px 1687px #fff,
    1573px 625px #fff,
    1462px 1253px #fff,
    793px 1714px #fff,
    585px 1493px #fff,
    281px 1646px #fff,
    1416px 1216px #fff,
    1503px 834px #fff,
    531px 164px #fff,
    829px 1932px #fff,
    1792px 10px #fff,
    1507px 1886px #fff,
    1136px 644px #fff,
    220px 1689px #fff,
    468px 1752px #fff,
    819px 381px #fff,
    180px 1262px #fff,
    1651px 1372px #fff,
    1977px 1333px #fff,
    1746px 932px #fff,
    438px 1238px #fff,
    37px 185px #fff,
    950px 470px #fff,
    1865px 1586px #fff,
    700px 1462px #fff,
    1626px 1394px #fff,
    1871px 919px #fff,
    1809px 90px #fff,
    830px 1210px #fff,
    831px 146px #fff,
    1436px 1951px #fff,
    1259px 1599px #fff,
    1181px 1974px #fff,
    643px 1187px #fff,
    1445px 193px #fff,
    260px 1930px #fff,
    1324px 1634px #fff,
    1735px 369px #fff,
    1132px 775px #fff,
    1941px 1483px #fff,
    1528px 717px #fff,
    1569px 402px #fff,
    1939px 448px #fff,
    292px 867px #fff,
    750px 206px #fff,
    68px 409px #fff,
    97px 1009px #fff,
    1033px 802px #fff,
    852px 330px #fff,
    1701px 517px #fff,
    1285px 1698px #fff,
    1274px 92px #fff,
    34px 799px #fff,
    564px 409px #fff,
    1074px 1716px #fff,
    558px 1840px #fff,
    937px 1822px #fff,
    1964px 1540px #fff,
    1827px 92px #fff,
    678px 1491px #fff,
    1050px 1046px #fff,
    1337px 493px #fff,
    372px 7px #fff,
    897px 667px #fff,
    526px 960px #fff,
    545px 653px #fff,
    1523px 1276px #fff,
    1431px 1380px #fff,
    1424px 1154px #fff,
    1615px 861px #fff,
    248px 1491px #fff,
    1111px 97px #fff,
    352px 1245px #fff,
    1317px 1948px #fff,
    1077px 1766px #fff,
    934px 1779px #fff,
    1440px 681px #fff,
    1615px 1716px #fff,
    1862px 698px #fff,
    299px 426px #fff,
    766px 1244px #fff,
    1026px 279px #fff,
    122px 661px #fff,
    419px 1020px #fff,
    323px 422px #fff,
    817px 794px #fff,
    564px 1137px #fff,
    81px 1439px #fff,
    1205px 1595px #fff,
    263px 513px #fff,
    148px 1203px #fff,
    880px 1132px #fff,
    1004px 1622px #fff,
    155px 879px #fff,
    592px 1694px #fff,
    210px 1545px #fff,
    1567px 99px #fff,
    1045px 266px #fff,
    1303px 931px #fff,
    427px 1397px #fff,
    233px 283px #fff,
    1193px 1940px #fff,
    990px 1772px #fff,
    188px 827px #fff,
    294px 412px #fff,
    302px 1405px #fff,
    383px 537px #fff,
    1494px 505px #fff,
    1996px 1844px #fff,
    1797px 909px #fff,
    633px 1668px #fff,
    1251px 686px #fff,
    1961px 1098px #fff,
    830px 260px #fff,
    480px 1511px #fff,
    1723px 1492px #fff,
    956px 883px #fff,
    1622px 1864px #fff,
    1172px 1376px #fff,
    1780px 1874px #fff,
    794px 1652px #fff,
    703px 837px #fff,
    1834px 1945px #fff,
    647px 1057px #fff,
    1896px 269px #fff,
    336px 1860px #fff,
    471px 837px #fff,
    1206px 1744px #fff,
    1796px 1685px #fff,
    45px 858px #fff,
    994px 856px #fff,
    709px 1469px #fff,
    557px 1582px #fff,
    368px 1868px #fff,
    1441px 1525px #fff,
    730px 1786px #fff,
    1589px 1017px #fff,
    693px 1731px #fff,
    1536px 636px #fff,
    177px 515px #fff,
    331px 1460px #fff,
    17px 1275px #fff,
    1637px 423px #fff,
    1140px 909px #fff,
    186px 1679px #fff,
    43px 1439px #fff,
    1581px 1438px #fff,
    1942px 1822px #fff,
    1813px 217px #fff,
    100px 1762px #fff,
    170px 587px #fff,
    1539px 304px #fff,
    511px 1891px #fff,
    105px 1745px #fff,
    1940px 1921px #fff,
    284px 1309px #fff,
    1404px 955px #fff,
    336px 1175px #fff,
    1554px 1965px #fff,
    1527px 805px #fff,
    1959px 1783px #fff,
    686px 1221px #fff,
    1243px 1168px #fff,
    1497px 2px #fff,
    98px 1876px #fff,
    1055px 1131px #fff,
    1575px 1011px #fff,
    251px 512px #fff,
    433px 1085px #fff,
    1216px 1826px #fff,
    331px 629px #fff,
    1752px 1899px #fff,
    1457px 554px #fff,
    1733px 1761px #fff,
    930px 1945px #fff,
    1987px 1227px #fff,
    1560px 580px #fff,
    1336px 1691px #fff,
    992px 1846px #fff,
    1128px 915px #fff,
    1778px 1918px #fff,
    1948px 1932px #fff,
    401px 363px #fff,
    1844px 1816px #fff,
    1178px 1783px #fff,
    1645px 680px #fff,
    1384px 1754px #fff,
    3px 287px #fff,
    1713px 440px #fff,
    1537px 1575px #fff,
    1284px 281px #fff,
    593px 1642px #fff,
    720px 533px #fff,
    1012px 232px #fff,
    153px 504px #fff,
    437px 1617px #fff,
    660px 1296px #fff,
    243px 1928px #fff,
    1679px 1089px #fff,
    1035px 448px #fff,
    1135px 1866px #fff,
    1424px 953px #fff,
    1244px 1726px #fff,
    1714px 1557px #fff,
    1577px 1334px #fff,
    341px 198px #fff,
    1006px 1718px #fff,
    438px 1571px #fff,
    193px 1487px #fff,
    782px 795px #fff,
    275px 560px #fff,
    27px 1589px #fff,
    1117px 1806px #fff,
    818px 1447px #fff,
    712px 455px #fff,
    1134px 491px #fff,
    895px 678px #fff,
    1665px 453px #fff,
    118px 954px #fff,
    1433px 102px #fff,
    1209px 313px #fff,
    534px 43px #fff,
    1493px 1400px #fff,
    1768px 149px #fff,
    679px 1977px #fff,
    1816px 1436px #fff,
    1814px 1681px #fff,
    980px 1668px #fff,
    23px 1139px #fff,
    886px 934px #fff,
    1622px 838px #fff,
    1836px 531px #fff,
    1194px 872px #fff,
    141px 514px #fff,
    1707px 647px #fff,
    720px 1643px #fff,
    1693px 1804px #fff,
    432px 63px #fff,
    1075px 1939px #fff,
    1963px 1436px #fff,
    1912px 867px #fff,
    793px 669px #fff,
    1335px 1104px #fff,
    957px 1569px #fff,
    1343px 133px #fff,
    1339px 1959px #fff,
    2px 1925px #fff,
    27px 18px #fff,
    1237px 38px #fff,
    1444px 358px #fff,
    775px 1313px #fff,
    1558px 1696px #fff,
    1406px 582px #fff,
    292px 1810px #fff,
    502px 1085px #fff,
    1767px 281px #fff,
    172px 1606px #fff,
    517px 1491px #fff,
    953px 93px #fff,
    680px 96px #fff,
    400px 818px #fff,
    1472px 1633px #fff,
    1540px 1456px #fff,
    1937px 1472px #fff,
    1837px 1774px #fff,
    614px 1092px #fff,
    317px 615px #fff,
    1797px 15px #fff,
    406px 1726px #fff,
    709px 1159px #fff,
    809px 1377px #fff,
    1560px 152px #fff,
    363px 1342px #fff,
    185px 1748px #fff,
    1610px 1073px #fff,
    814px 1463px #fff,
    1568px 1511px #fff,
    137px 1168px #fff,
    1849px 1719px #fff,
    740px 1252px #fff,
    1445px 1177px #fff,
    966px 978px #fff,
    136px 1297px #fff,
    1296px 634px #fff,
    1644px 76px #fff,
    241px 1823px #fff,
    657px 1440px #fff,
    164px 505px #fff,
    872px 1031px #fff,
    67px 1099px #fff,
    1095px 868px #fff,
    968px 242px #fff,
    716px 1665px #fff,
    1050px 15px #fff,
    807px 1900px #fff,
    452px 1668px #fff,
    343px 1338px #fff,
    1558px 849px #fff,
    136px 1474px #fff,
    1724px 1380px #fff,
    438px 128px #fff,
    224px 593px #fff,
    598px 647px #fff,
    1252px 1244px #fff,
    1082px 1781px #fff,
    1438px 1463px #fff,
    1367px 993px #fff,
    1961px 761px #fff,
    1363px 491px #fff,
    518px 961px #fff,
    240px 52px #fff,
    1073px 962px #fff,
    1662px 298px #fff,
    946px 1674px #fff,
    1370px 179px #fff,
    1607px 807px #fff,
    1px 174px #fff,
    1380px 1753px #fff,
    1059px 1214px #fff,
    234px 929px #fff,
    407px 1608px #fff,
    1012px 823px #fff,
    810px 1712px #fff,
    427px 1805px #fff,
    877px 1104px #fff,
    1842px 1615px #fff,
    701px 1321px #fff,
    1933px 244px #fff,
    1559px 409px #fff,
    1225px 111px #fff,
    454px 726px #fff,
    910px 1010px #fff,
    1791px 738px #fff,
    1843px 1024px #fff,
    233px 531px #fff,
    1123px 236px #fff,
    781px 87px #fff,
    1335px 1782px #fff,
    168px 675px #fff,
    571px 1840px #fff,
    907px 1807px #fff,
    507px 1342px #fff,
    1696px 857px #fff,
    860px 668px #fff,
    1839px 209px #fff,
    1534px 1356px #fff,
    1460px 37px #fff,
    1060px 451px #fff,
    1691px 1843px #fff,
    680px 900px #fff,
    300px 323px #fff,
    778px 1229px #fff,
    389px 1230px #fff,
    1059px 763px #fff,
    1869px 1795px #fff,
    893px 1848px #fff,
    421px 1955px #fff,
    1538px 1728px #fff,
    1987px 877px #fff,
    624px 503px #fff,
    901px 1256px #fff,
    587px 100px #fff,
    1957px 1966px #fff,
    169px 1198px #fff,
    1392px 1855px #fff,
    1004px 1476px #fff,
    1106px 224px #fff,
    194px 551px #fff,
    1555px 274px #fff,
    993px 1942px #fff,
    464px 664px #fff,
    1919px 187px #fff,
    919px 1800px #fff,
    259px 1334px #fff,
    416px 40px #fff,
    376px 1800px #fff,
    1633px 558px #fff,
    586px 987px #fff,
    269px 1067px #fff,
    978px 582px #fff,
    1546px 248px #fff,
    1010px 1105px #fff,
    480px 833px #fff,
    1500px 122px #fff,
    1216px 307px #fff,
    1510px 1295px #fff,
    163px 139px #fff,
    1854px 652px #fff,
    881px 292px #fff,
    987px 1357px #fff,
    1888px 1644px #fff,
    1706px 1082px #fff,
    603px 591px #fff,
    1229px 307px #fff,
    817px 1216px #fff,
    1481px 1004px #fff,
    1912px 817px #fff,
    875px 561px #fff,
    726px 139px #fff,
    339px 591px #fff,
    552px 1705px #fff,
    61px 961px #fff,
    846px 854px #fff,
    1180px 948px #fff,
    1691px 120px #fff,
    1006px 1456px #fff,
    1691px 1550px #fff,
    477px 198px #fff,
    1485px 1745px #fff,
    210px 1914px #fff,
    1701px 698px #fff,
    1245px 1072px #fff,
    1686px 1398px #fff,
    2000px 1126px #fff,
    1141px 730px #fff,
    252px 771px #fff;
  animation: animStar 50s linear infinite;
  z-index: -1;
  position: fixed;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1311px 590px #fff,
    253px 1047px #fff,
    483px 314px #fff,
    417px 1617px #fff,
    1912px 291px #fff,
    117px 251px #fff,
    1236px 818px #fff,
    1233px 1184px #fff,
    440px 73px #fff,
    1591px 248px #fff,
    1024px 88px #fff,
    383px 642px #fff,
    1488px 933px #fff,
    461px 793px #fff,
    148px 1580px #fff,
    902px 1193px #fff,
    471px 1176px #fff,
    1147px 1463px #fff,
    1858px 1692px #fff,
    1019px 718px #fff,
    1570px 237px #fff,
    884px 255px #fff,
    1695px 1540px #fff,
    307px 390px #fff,
    809px 274px #fff,
    1218px 1446px #fff,
    907px 672px #fff,
    1925px 280px #fff,
    614px 489px #fff,
    954px 1125px #fff,
    428px 771px #fff,
    773px 1808px #fff,
    44px 1425px #fff,
    585px 264px #fff,
    374px 792px #fff,
    401px 1424px #fff,
    1954px 469px #fff,
    271px 1801px #fff,
    1775px 655px #fff,
    1510px 693px #fff,
    312px 799px #fff,
    1344px 1757px #fff,
    1904px 843px #fff,
    1916px 1610px #fff,
    1943px 1095px #fff,
    1791px 1407px #fff,
    1815px 676px #fff,
    846px 1068px #fff,
    292px 359px #fff,
    703px 1909px #fff,
    215px 1486px #fff,
    277px 301px #fff,
    232px 774px #fff,
    1395px 1581px #fff,
    1645px 1673px #fff,
    1234px 1710px #fff,
    1539px 719px #fff,
    1722px 1088px #fff,
    1411px 1269px #fff,
    605px 1427px #fff,
    187px 303px #fff,
    780px 1730px #fff,
    750px 1421px #fff,
    966px 1862px #fff,
    1954px 29px #fff,
    1330px 272px #fff,
    614px 1023px #fff,
    196px 712px #fff,
    1281px 1223px #fff,
    1711px 1541px #fff,
    1122px 1847px #fff,
    882px 889px #fff,
    1281px 211px #fff,
    1318px 1468px #fff,
    840px 651px #fff,
    609px 720px #fff,
    1997px 15px #fff,
    1366px 112px #fff,
    1544px 99px #fff,
    1086px 533px #fff,
    207px 724px #fff,
    383px 831px #fff,
    1850px 1262px #fff,
    1876px 815px #fff,
    228px 125px #fff,
    1569px 1504px #fff,
    1439px 49px #fff,
    1693px 1938px #fff,
    1222px 367px #fff,
    1450px 915px #fff,
    55px 796px #fff,
    201px 1740px #fff,
    431px 1184px #fff,
    1771px 1683px #fff,
    772px 1192px #fff,
    1305px 584px #fff,
    1018px 422px #fff,
    112px 1887px #fff,
    727px 1246px #fff,
    212px 647px #fff,
    1519px 358px #fff,
    358px 784px #fff,
    940px 933px #fff,
    558px 1277px #fff,
    1305px 483px #fff,
    222px 384px #fff,
    1747px 426px #fff,
    1148px 868px #fff,
    711px 1502px #fff,
    1606px 376px #fff,
    1730px 350px #fff,
    1059px 1147px #fff,
    1331px 1460px #fff,
    1444px 1506px #fff,
    685px 1325px #fff,
    327px 167px #fff,
    1894px 1245px #fff,
    1069px 851px #fff,
    1658px 1788px #fff,
    1802px 361px #fff,
    765px 786px #fff,
    1966px 1981px #fff,
    644px 1784px #fff,
    38px 734px #fff,
    661px 1848px #fff,
    939px 217px #fff,
    83px 1428px #fff,
    92px 1752px #fff,
    537px 1970px #fff,
    837px 793px #fff,
    625px 920px #fff,
    1427px 759px #fff,
    252px 834px #fff,
    620px 751px #fff,
    1815px 230px #fff,
    176px 640px #fff,
    11px 1351px #fff,
    723px 1316px #fff,
    1991px 761px #fff,
    853px 319px #fff,
    1736px 439px #fff,
    885px 1798px #fff,
    1762px 896px #fff,
    1054px 598px #fff,
    1945px 146px #fff,
    228px 1744px #fff,
    370px 262px #fff,
    1003px 756px #fff,
    1406px 1333px #fff,
    1378px 1839px #fff,
    855px 834px #fff,
    1207px 1951px #fff,
    1986px 350px #fff,
    535px 198px #fff,
    1320px 441px #fff,
    534px 374px #fff,
    1354px 699px #fff,
    807px 563px #fff,
    1382px 941px #fff,
    577px 1508px #fff,
    1772px 1741px #fff,
    1792px 1767px #fff,
    33px 1395px #fff,
    1485px 670px #fff,
    1298px 1266px #fff,
    1353px 1122px #fff,
    1201px 569px #fff,
    252px 1365px #fff,
    96px 1051px #fff,
    1410px 696px #fff,
    1255px 525px #fff,
    1325px 1353px #fff,
    684px 1374px #fff,
    915px 416px #fff,
    261px 1677px #fff,
    534px 678px #fff,
    1148px 796px #fff,
    1015px 1471px #fff,
    1607px 556px #fff,
    1216px 1553px #fff,
    1427px 1012px #fff,
    1995px 1922px #fff,
    998px 754px #fff,
    538px 1574px #fff,
    1777px 1735px #fff,
    1702px 686px #fff,
    1409px 264px #fff,
    1933px 1482px #fff,
    1876px 1071px #fff,
    1453px 635px #fff,
    1022px 1622px #fff,
    1285px 1382px #fff,
    1699px 774px #fff,
    245px 1852px #fff,
    1270px 730px #fff,
    1816px 1320px #fff,
    1569px 1722px #fff,
    261px 213px #fff,
    1479px 1920px #fff,
    179px 834px #fff,
    1941px 336px #fff,
    192px 1976px #fff,
    142px 1137px #fff,
    1374px 124px #fff,
    60px 1772px #fff,
    479px 302px #fff,
    1035px 476px #fff,
    818px 851px #fff,
    1087px 1011px #fff,
    257px 121px #fff,
    1982px 1789px #fff,
    5px 1930px #fff,
    539px 1665px #fff,
    260px 834px #fff,
    527px 1366px #fff,
    1454px 1560px #fff,
    469px 1536px #fff,
    942px 1158px #fff,
    680px 156px #fff,
    1267px 1044px #fff,
    1429px 471px #fff,
    567px 1665px #fff,
    481px 442px #fff,
    118px 1174px #fff,
    1759px 1774px #fff,
    1827px 729px #fff,
    878px 804px #fff,
    1486px 17px #fff,
    1535px 485px #fff,
    372px 151px #fff,
    749px 1984px #fff,
    924px 1795px #fff,
    1458px 1127px #fff,
    1521px 912px #fff,
    1405px 793px #fff,
    1558px 806px #fff,
    1925px 428px #fff,
    1706px 145px #fff,
    919px 127px #fff,
    636px 96px #fff,
    512px 939px #fff,
    1040px 1000px #fff,
    575px 1832px #fff,
    1515px 1651px #fff,
    767px 1px #fff,
    60px 995px #fff,
    1146px 1140px #fff,
    1173px 1301px #fff,
    64px 1128px #fff,
    1205px 305px #fff,
    1319px 1650px #fff,
    1205px 826px #fff,
    1345px 1148px #fff,
    550px 1413px #fff,
    160px 557px #fff,
    1631px 1936px #fff,
    9px 1976px #fff,
    935px 1552px #fff,
    1740px 1858px #fff,
    1975px 1322px #fff,
    1212px 1078px #fff,
    110px 1165px #fff,
    1612px 651px #fff,
    1156px 1162px #fff,
    1148px 77px #fff,
    1987px 198px #fff,
    776px 1349px #fff,
    1754px 233px #fff,
    816px 624px #fff,
    225px 44px #fff,
    1781px 1272px #fff,
    1951px 1806px #fff,
    154px 866px #fff,
    1336px 531px #fff,
    1932px 1409px #fff,
    881px 1797px #fff,
    412px 1918px #fff,
    226px 736px #fff,
    117px 1105px #fff,
    395px 1928px #fff,
    1264px 1955px #fff,
    1668px 1700px #fff,
    587px 1820px #fff,
    1271px 1149px #fff,
    168px 1687px #fff,
    1573px 625px #fff,
    1462px 1253px #fff,
    793px 1714px #fff,
    585px 1493px #fff,
    281px 1646px #fff,
    1416px 1216px #fff,
    1503px 834px #fff,
    531px 164px #fff,
    829px 1932px #fff,
    1792px 10px #fff,
    1507px 1886px #fff,
    1136px 644px #fff,
    220px 1689px #fff,
    468px 1752px #fff,
    819px 381px #fff,
    180px 1262px #fff,
    1651px 1372px #fff,
    1977px 1333px #fff,
    1746px 932px #fff,
    438px 1238px #fff,
    37px 185px #fff,
    950px 470px #fff,
    1865px 1586px #fff,
    700px 1462px #fff,
    1626px 1394px #fff,
    1871px 919px #fff,
    1809px 90px #fff,
    830px 1210px #fff,
    831px 146px #fff,
    1436px 1951px #fff,
    1259px 1599px #fff,
    1181px 1974px #fff,
    643px 1187px #fff,
    1445px 193px #fff,
    260px 1930px #fff,
    1324px 1634px #fff,
    1735px 369px #fff,
    1132px 775px #fff,
    1941px 1483px #fff,
    1528px 717px #fff,
    1569px 402px #fff,
    1939px 448px #fff,
    292px 867px #fff,
    750px 206px #fff,
    68px 409px #fff,
    97px 1009px #fff,
    1033px 802px #fff,
    852px 330px #fff,
    1701px 517px #fff,
    1285px 1698px #fff,
    1274px 92px #fff,
    34px 799px #fff,
    564px 409px #fff,
    1074px 1716px #fff,
    558px 1840px #fff,
    937px 1822px #fff,
    1964px 1540px #fff,
    1827px 92px #fff,
    678px 1491px #fff,
    1050px 1046px #fff,
    1337px 493px #fff,
    372px 7px #fff,
    897px 667px #fff,
    526px 960px #fff,
    545px 653px #fff,
    1523px 1276px #fff,
    1431px 1380px #fff,
    1424px 1154px #fff,
    1615px 861px #fff,
    248px 1491px #fff,
    1111px 97px #fff,
    352px 1245px #fff,
    1317px 1948px #fff,
    1077px 1766px #fff,
    934px 1779px #fff,
    1440px 681px #fff,
    1615px 1716px #fff,
    1862px 698px #fff,
    299px 426px #fff,
    766px 1244px #fff,
    1026px 279px #fff,
    122px 661px #fff,
    419px 1020px #fff,
    323px 422px #fff,
    817px 794px #fff,
    564px 1137px #fff,
    81px 1439px #fff,
    1205px 1595px #fff,
    263px 513px #fff,
    148px 1203px #fff,
    880px 1132px #fff,
    1004px 1622px #fff,
    155px 879px #fff,
    592px 1694px #fff,
    210px 1545px #fff,
    1567px 99px #fff,
    1045px 266px #fff,
    1303px 931px #fff,
    427px 1397px #fff,
    233px 283px #fff,
    1193px 1940px #fff,
    990px 1772px #fff,
    188px 827px #fff,
    294px 412px #fff,
    302px 1405px #fff,
    383px 537px #fff,
    1494px 505px #fff,
    1996px 1844px #fff,
    1797px 909px #fff,
    633px 1668px #fff,
    1251px 686px #fff,
    1961px 1098px #fff,
    830px 260px #fff,
    480px 1511px #fff,
    1723px 1492px #fff,
    956px 883px #fff,
    1622px 1864px #fff,
    1172px 1376px #fff,
    1780px 1874px #fff,
    794px 1652px #fff,
    703px 837px #fff,
    1834px 1945px #fff,
    647px 1057px #fff,
    1896px 269px #fff,
    336px 1860px #fff,
    471px 837px #fff,
    1206px 1744px #fff,
    1796px 1685px #fff,
    45px 858px #fff,
    994px 856px #fff,
    709px 1469px #fff,
    557px 1582px #fff,
    368px 1868px #fff,
    1441px 1525px #fff,
    730px 1786px #fff,
    1589px 1017px #fff,
    693px 1731px #fff,
    1536px 636px #fff,
    177px 515px #fff,
    331px 1460px #fff,
    17px 1275px #fff,
    1637px 423px #fff,
    1140px 909px #fff,
    186px 1679px #fff,
    43px 1439px #fff,
    1581px 1438px #fff,
    1942px 1822px #fff,
    1813px 217px #fff,
    100px 1762px #fff,
    170px 587px #fff,
    1539px 304px #fff,
    511px 1891px #fff,
    105px 1745px #fff,
    1940px 1921px #fff,
    284px 1309px #fff,
    1404px 955px #fff,
    336px 1175px #fff,
    1554px 1965px #fff,
    1527px 805px #fff,
    1959px 1783px #fff,
    686px 1221px #fff,
    1243px 1168px #fff,
    1497px 2px #fff,
    98px 1876px #fff,
    1055px 1131px #fff,
    1575px 1011px #fff,
    251px 512px #fff,
    433px 1085px #fff,
    1216px 1826px #fff,
    331px 629px #fff,
    1752px 1899px #fff,
    1457px 554px #fff,
    1733px 1761px #fff,
    930px 1945px #fff,
    1987px 1227px #fff,
    1560px 580px #fff,
    1336px 1691px #fff,
    992px 1846px #fff,
    1128px 915px #fff,
    1778px 1918px #fff,
    1948px 1932px #fff,
    401px 363px #fff,
    1844px 1816px #fff,
    1178px 1783px #fff,
    1645px 680px #fff,
    1384px 1754px #fff,
    3px 287px #fff,
    1713px 440px #fff,
    1537px 1575px #fff,
    1284px 281px #fff,
    593px 1642px #fff,
    720px 533px #fff,
    1012px 232px #fff,
    153px 504px #fff,
    437px 1617px #fff,
    660px 1296px #fff,
    243px 1928px #fff,
    1679px 1089px #fff,
    1035px 448px #fff,
    1135px 1866px #fff,
    1424px 953px #fff,
    1244px 1726px #fff,
    1714px 1557px #fff,
    1577px 1334px #fff,
    341px 198px #fff,
    1006px 1718px #fff,
    438px 1571px #fff,
    193px 1487px #fff,
    782px 795px #fff,
    275px 560px #fff,
    27px 1589px #fff,
    1117px 1806px #fff,
    818px 1447px #fff,
    712px 455px #fff,
    1134px 491px #fff,
    895px 678px #fff,
    1665px 453px #fff,
    118px 954px #fff,
    1433px 102px #fff,
    1209px 313px #fff,
    534px 43px #fff,
    1493px 1400px #fff,
    1768px 149px #fff,
    679px 1977px #fff,
    1816px 1436px #fff,
    1814px 1681px #fff,
    980px 1668px #fff,
    23px 1139px #fff,
    886px 934px #fff,
    1622px 838px #fff,
    1836px 531px #fff,
    1194px 872px #fff,
    141px 514px #fff,
    1707px 647px #fff,
    720px 1643px #fff,
    1693px 1804px #fff,
    432px 63px #fff,
    1075px 1939px #fff,
    1963px 1436px #fff,
    1912px 867px #fff,
    793px 669px #fff,
    1335px 1104px #fff,
    957px 1569px #fff,
    1343px 133px #fff,
    1339px 1959px #fff,
    2px 1925px #fff,
    27px 18px #fff,
    1237px 38px #fff,
    1444px 358px #fff,
    775px 1313px #fff,
    1558px 1696px #fff,
    1406px 582px #fff,
    292px 1810px #fff,
    502px 1085px #fff,
    1767px 281px #fff,
    172px 1606px #fff,
    517px 1491px #fff,
    953px 93px #fff,
    680px 96px #fff,
    400px 818px #fff,
    1472px 1633px #fff,
    1540px 1456px #fff,
    1937px 1472px #fff,
    1837px 1774px #fff,
    614px 1092px #fff,
    317px 615px #fff,
    1797px 15px #fff,
    406px 1726px #fff,
    709px 1159px #fff,
    809px 1377px #fff,
    1560px 152px #fff,
    363px 1342px #fff,
    185px 1748px #fff,
    1610px 1073px #fff,
    814px 1463px #fff,
    1568px 1511px #fff,
    137px 1168px #fff,
    1849px 1719px #fff,
    740px 1252px #fff,
    1445px 1177px #fff,
    966px 978px #fff,
    136px 1297px #fff,
    1296px 634px #fff,
    1644px 76px #fff,
    241px 1823px #fff,
    657px 1440px #fff,
    164px 505px #fff,
    872px 1031px #fff,
    67px 1099px #fff,
    1095px 868px #fff,
    968px 242px #fff,
    716px 1665px #fff,
    1050px 15px #fff,
    807px 1900px #fff,
    452px 1668px #fff,
    343px 1338px #fff,
    1558px 849px #fff,
    136px 1474px #fff,
    1724px 1380px #fff,
    438px 128px #fff,
    224px 593px #fff,
    598px 647px #fff,
    1252px 1244px #fff,
    1082px 1781px #fff,
    1438px 1463px #fff,
    1367px 993px #fff,
    1961px 761px #fff,
    1363px 491px #fff,
    518px 961px #fff,
    240px 52px #fff,
    1073px 962px #fff,
    1662px 298px #fff,
    946px 1674px #fff,
    1370px 179px #fff,
    1607px 807px #fff,
    1px 174px #fff,
    1380px 1753px #fff,
    1059px 1214px #fff,
    234px 929px #fff,
    407px 1608px #fff,
    1012px 823px #fff,
    810px 1712px #fff,
    427px 1805px #fff,
    877px 1104px #fff,
    1842px 1615px #fff,
    701px 1321px #fff,
    1933px 244px #fff,
    1559px 409px #fff,
    1225px 111px #fff,
    454px 726px #fff,
    910px 1010px #fff,
    1791px 738px #fff,
    1843px 1024px #fff,
    233px 531px #fff,
    1123px 236px #fff,
    781px 87px #fff,
    1335px 1782px #fff,
    168px 675px #fff,
    571px 1840px #fff,
    907px 1807px #fff,
    507px 1342px #fff,
    1696px 857px #fff,
    860px 668px #fff,
    1839px 209px #fff,
    1534px 1356px #fff,
    1460px 37px #fff,
    1060px 451px #fff,
    1691px 1843px #fff,
    680px 900px #fff,
    300px 323px #fff,
    778px 1229px #fff,
    389px 1230px #fff,
    1059px 763px #fff,
    1869px 1795px #fff,
    893px 1848px #fff,
    421px 1955px #fff,
    1538px 1728px #fff,
    1987px 877px #fff,
    624px 503px #fff,
    901px 1256px #fff,
    587px 100px #fff,
    1957px 1966px #fff,
    169px 1198px #fff,
    1392px 1855px #fff,
    1004px 1476px #fff,
    1106px 224px #fff,
    194px 551px #fff,
    1555px 274px #fff,
    993px 1942px #fff,
    464px 664px #fff,
    1919px 187px #fff,
    919px 1800px #fff,
    259px 1334px #fff,
    416px 40px #fff,
    376px 1800px #fff,
    1633px 558px #fff,
    586px 987px #fff,
    269px 1067px #fff,
    978px 582px #fff,
    1546px 248px #fff,
    1010px 1105px #fff,
    480px 833px #fff,
    1500px 122px #fff,
    1216px 307px #fff,
    1510px 1295px #fff,
    163px 139px #fff,
    1854px 652px #fff,
    881px 292px #fff,
    987px 1357px #fff,
    1888px 1644px #fff,
    1706px 1082px #fff,
    603px 591px #fff,
    1229px 307px #fff,
    817px 1216px #fff,
    1481px 1004px #fff,
    1912px 817px #fff,
    875px 561px #fff,
    726px 139px #fff,
    339px 591px #fff,
    552px 1705px #fff,
    61px 961px #fff,
    846px 854px #fff,
    1180px 948px #fff,
    1691px 120px #fff,
    1006px 1456px #fff,
    1691px 1550px #fff,
    477px 198px #fff,
    1485px 1745px #fff,
    210px 1914px #fff,
    1701px 698px #fff,
    1245px 1072px #fff,
    1686px 1398px #fff,
    2000px 1126px #fff,
    1141px 730px #fff,
    252px 771px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1075px 1374px #fff,
    197px 63px #fff,
    799px 1946px #fff,
    1454px 856px #fff,
    788px 1682px #fff,
    820px 1421px #fff,
    970px 1368px #fff,
    75px 515px #fff,
    606px 1558px #fff,
    578px 1090px #fff,
    299px 470px #fff,
    1940px 1958px #fff,
    1190px 1518px #fff,
    961px 1371px #fff,
    64px 614px #fff,
    1136px 1414px #fff,
    394px 837px #fff,
    1544px 1486px #fff,
    1148px 1950px #fff,
    1563px 470px #fff,
    1399px 1413px #fff,
    1240px 64px #fff,
    1322px 433px #fff,
    578px 696px #fff,
    269px 1074px #fff,
    1565px 1656px #fff,
    517px 1288px #fff,
    1007px 1072px #fff,
    1905px 131px #fff,
    1286px 696px #fff,
    1230px 1528px #fff,
    429px 1060px #fff,
    944px 871px #fff,
    1918px 1159px #fff,
    252px 1458px #fff,
    1182px 1627px #fff,
    1744px 1532px #fff,
    964px 1307px #fff,
    474px 497px #fff,
    1896px 377px #fff,
    418px 1038px #fff,
    1680px 78px #fff,
    692px 1336px #fff,
    1811px 1113px #fff,
    136px 1058px #fff,
    1489px 632px #fff,
    577px 554px #fff,
    1231px 198px #fff,
    1667px 1197px #fff,
    256px 1815px #fff,
    914px 587px #fff,
    514px 280px #fff,
    1728px 290px #fff,
    1729px 1831px #fff,
    1976px 37px #fff,
    260px 1342px #fff,
    896px 345px #fff,
    132px 207px #fff,
    1954px 1425px #fff,
    1060px 1155px #fff,
    425px 1349px #fff,
    1479px 1742px #fff,
    248px 988px #fff,
    1557px 1828px #fff,
    1565px 1141px #fff,
    178px 639px #fff,
    222px 1320px #fff,
    1006px 1732px #fff,
    1143px 1834px #fff,
    446px 68px #fff,
    1474px 1740px #fff,
    929px 917px #fff,
    1996px 1883px #fff,
    276px 108px #fff,
    327px 106px #fff,
    1884px 1643px #fff,
    1430px 1637px #fff,
    1381px 1198px #fff,
    221px 635px #fff,
    647px 421px #fff,
    189px 904px #fff,
    526px 940px #fff,
    394px 128px #fff,
    388px 167px #fff,
    1910px 360px #fff,
    126px 1961px #fff,
    1292px 1993px #fff,
    1228px 1567px #fff,
    773px 1792px #fff,
    1610px 1262px #fff,
    228px 959px #fff,
    1071px 332px #fff,
    1761px 1638px #fff,
    754px 846px #fff,
    1157px 269px #fff,
    284px 750px #fff,
    1880px 381px #fff,
    253px 406px #fff,
    1295px 747px #fff,
    969px 1399px #fff,
    44px 658px #fff,
    1581px 177px #fff,
    264px 1943px #fff,
    1503px 1712px #fff,
    73px 1570px #fff,
    470px 201px #fff,
    154px 1977px #fff,
    943px 1516px #fff,
    1519px 191px #fff,
    44px 333px #fff,
    1809px 1984px #fff,
    1001px 1777px #fff,
    1712px 1060px #fff,
    954px 874px #fff,
    613px 1136px #fff,
    1584px 914px #fff,
    52px 332px #fff,
    1788px 159px #fff,
    1656px 1719px #fff,
    1744px 1898px #fff,
    1611px 173px #fff,
    1226px 1689px #fff,
    1830px 1244px #fff,
    1138px 1507px #fff,
    666px 1670px #fff,
    1638px 978px #fff,
    716px 1873px #fff,
    115px 911px #fff,
    1898px 791px #fff,
    1933px 1604px #fff,
    541px 1888px #fff,
    1763px 1077px #fff,
    1853px 816px #fff,
    1575px 511px #fff,
    1423px 410px #fff,
    1919px 174px #fff,
    1277px 253px #fff,
    1528px 1920px #fff,
    284px 1034px #fff,
    924px 478px #fff,
    367px 1628px #fff,
    857px 558px #fff,
    1888px 94px #fff,
    39px 440px #fff,
    549px 1706px #fff,
    768px 1264px #fff,
    1935px 708px #fff,
    1868px 1281px #fff,
    468px 670px #fff,
    1184px 211px #fff,
    1450px 882px #fff,
    525px 1052px #fff,
    758px 534px #fff,
    889px 1711px #fff,
    942px 1661px #fff,
    923px 1030px #fff,
    229px 899px #fff,
    1565px 1140px #fff,
    1918px 780px #fff,
    1082px 953px #fff,
    305px 1537px #fff,
    274px 670px #fff,
    284px 1138px #fff,
    313px 571px #fff,
    234px 1964px #fff,
    1910px 334px #fff,
    90px 445px #fff,
    1258px 1315px #fff,
    920px 1294px #fff,
    1372px 336px #fff,
    915px 6px #fff,
    1833px 1169px #fff,
    1226px 1527px #fff,
    1680px 173px #fff,
    41px 1095px #fff,
    518px 544px #fff,
    444px 1655px #fff,
    381px 662px #fff,
    730px 1951px #fff,
    712px 90px #fff,
    559px 1748px #fff,
    1496px 1583px #fff,
    782px 870px #fff,
    1891px 245px #fff,
    226px 1989px #fff,
    897px 707px #fff,
    1744px 321px #fff,
    1419px 1161px #fff,
    389px 510px #fff,
    428px 256px #fff,
    1381px 1729px #fff,
    1259px 324px #fff,
    1360px 605px #fff,
    537px 1637px #fff,
    1228px 1850px #fff,
    1325px 190px #fff,
    48px 1970px #fff,
    1710px 774px #fff,
    1652px 869px #fff,
    312px 1399px #fff;
  animation: animStar 100s linear infinite;
  z-index: -1;
  position: fixed;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1075px 1374px #fff,
    197px 63px #fff,
    799px 1946px #fff,
    1454px 856px #fff,
    788px 1682px #fff,
    820px 1421px #fff,
    970px 1368px #fff,
    75px 515px #fff,
    606px 1558px #fff,
    578px 1090px #fff,
    299px 470px #fff,
    1940px 1958px #fff,
    1190px 1518px #fff,
    961px 1371px #fff,
    64px 614px #fff,
    1136px 1414px #fff,
    394px 837px #fff,
    1544px 1486px #fff,
    1148px 1950px #fff,
    1563px 470px #fff,
    1399px 1413px #fff,
    1240px 64px #fff,
    1322px 433px #fff,
    578px 696px #fff,
    269px 1074px #fff,
    1565px 1656px #fff,
    517px 1288px #fff,
    1007px 1072px #fff,
    1905px 131px #fff,
    1286px 696px #fff,
    1230px 1528px #fff,
    429px 1060px #fff,
    944px 871px #fff,
    1918px 1159px #fff,
    252px 1458px #fff,
    1182px 1627px #fff,
    1744px 1532px #fff,
    964px 1307px #fff,
    474px 497px #fff,
    1896px 377px #fff,
    418px 1038px #fff,
    1680px 78px #fff,
    692px 1336px #fff,
    1811px 1113px #fff,
    136px 1058px #fff,
    1489px 632px #fff,
    577px 554px #fff,
    1231px 198px #fff,
    1667px 1197px #fff,
    256px 1815px #fff,
    914px 587px #fff,
    514px 280px #fff,
    1728px 290px #fff,
    1729px 1831px #fff,
    1976px 37px #fff,
    260px 1342px #fff,
    896px 345px #fff,
    132px 207px #fff,
    1954px 1425px #fff,
    1060px 1155px #fff,
    425px 1349px #fff,
    1479px 1742px #fff,
    248px 988px #fff,
    1557px 1828px #fff,
    1565px 1141px #fff,
    178px 639px #fff,
    222px 1320px #fff,
    1006px 1732px #fff,
    1143px 1834px #fff,
    446px 68px #fff,
    1474px 1740px #fff,
    929px 917px #fff,
    1996px 1883px #fff,
    276px 108px #fff,
    327px 106px #fff,
    1884px 1643px #fff,
    1430px 1637px #fff,
    1381px 1198px #fff,
    221px 635px #fff,
    647px 421px #fff,
    189px 904px #fff,
    526px 940px #fff,
    394px 128px #fff,
    388px 167px #fff,
    1910px 360px #fff,
    126px 1961px #fff,
    1292px 1993px #fff,
    1228px 1567px #fff,
    773px 1792px #fff,
    1610px 1262px #fff,
    228px 959px #fff,
    1071px 332px #fff,
    1761px 1638px #fff,
    754px 846px #fff,
    1157px 269px #fff,
    284px 750px #fff,
    1880px 381px #fff,
    253px 406px #fff,
    1295px 747px #fff,
    969px 1399px #fff,
    44px 658px #fff,
    1581px 177px #fff,
    264px 1943px #fff,
    1503px 1712px #fff,
    73px 1570px #fff,
    470px 201px #fff,
    154px 1977px #fff,
    943px 1516px #fff,
    1519px 191px #fff,
    44px 333px #fff,
    1809px 1984px #fff,
    1001px 1777px #fff,
    1712px 1060px #fff,
    954px 874px #fff,
    613px 1136px #fff,
    1584px 914px #fff,
    52px 332px #fff,
    1788px 159px #fff,
    1656px 1719px #fff,
    1744px 1898px #fff,
    1611px 173px #fff,
    1226px 1689px #fff,
    1830px 1244px #fff,
    1138px 1507px #fff,
    666px 1670px #fff,
    1638px 978px #fff,
    716px 1873px #fff,
    115px 911px #fff,
    1898px 791px #fff,
    1933px 1604px #fff,
    541px 1888px #fff,
    1763px 1077px #fff,
    1853px 816px #fff,
    1575px 511px #fff,
    1423px 410px #fff,
    1919px 174px #fff,
    1277px 253px #fff,
    1528px 1920px #fff,
    284px 1034px #fff,
    924px 478px #fff,
    367px 1628px #fff,
    857px 558px #fff,
    1888px 94px #fff,
    39px 440px #fff,
    549px 1706px #fff,
    768px 1264px #fff,
    1935px 708px #fff,
    1868px 1281px #fff,
    468px 670px #fff,
    1184px 211px #fff,
    1450px 882px #fff,
    525px 1052px #fff,
    758px 534px #fff,
    889px 1711px #fff,
    942px 1661px #fff,
    923px 1030px #fff,
    229px 899px #fff,
    1565px 1140px #fff,
    1918px 780px #fff,
    1082px 953px #fff,
    305px 1537px #fff,
    274px 670px #fff,
    284px 1138px #fff,
    313px 571px #fff,
    234px 1964px #fff,
    1910px 334px #fff,
    90px 445px #fff,
    1258px 1315px #fff,
    920px 1294px #fff,
    1372px 336px #fff,
    915px 6px #fff,
    1833px 1169px #fff,
    1226px 1527px #fff,
    1680px 173px #fff,
    41px 1095px #fff,
    518px 544px #fff,
    444px 1655px #fff,
    381px 662px #fff,
    730px 1951px #fff,
    712px 90px #fff,
    559px 1748px #fff,
    1496px 1583px #fff,
    782px 870px #fff,
    1891px 245px #fff,
    226px 1989px #fff,
    897px 707px #fff,
    1744px 321px #fff,
    1419px 1161px #fff,
    389px 510px #fff,
    428px 256px #fff,
    1381px 1729px #fff,
    1259px 324px #fff,
    1360px 605px #fff,
    537px 1637px #fff,
    1228px 1850px #fff,
    1325px 190px #fff,
    48px 1970px #fff,
    1710px 774px #fff,
    1652px 869px #fff,
    312px 1399px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1544px 1790px #fff,
    855px 1862px #fff,
    1228px 178px #fff,
    1046px 1076px #fff,
    643px 189px #fff,
    1983px 148px #fff,
    1677px 249px #fff,
    929px 1855px #fff,
    66px 321px #fff,
    92px 674px #fff,
    282px 1412px #fff,
    867px 219px #fff,
    329px 1011px #fff,
    216px 229px #fff,
    70px 1650px #fff,
    1911px 1358px #fff,
    94px 1453px #fff,
    816px 1868px #fff,
    254px 1308px #fff,
    303px 319px #fff,
    1986px 1875px #fff,
    912px 724px #fff,
    1816px 101px #fff,
    1367px 355px #fff,
    262px 2000px #fff,
    1606px 695px #fff,
    1171px 1341px #fff,
    803px 523px #fff,
    1875px 842px #fff,
    933px 339px #fff,
    186px 1521px #fff,
    1409px 669px #fff,
    728px 642px #fff,
    1193px 1550px #fff,
    689px 25px #fff,
    1502px 1266px #fff,
    1710px 520px #fff,
    1730px 1567px #fff,
    1751px 1154px #fff,
    1226px 1945px #fff,
    129px 902px #fff,
    1172px 347px #fff,
    971px 613px #fff,
    1070px 73px #fff,
    1138px 338px #fff,
    299px 569px #fff,
    396px 259px #fff,
    1739px 406px #fff,
    462px 433px #fff,
    156px 1558px #fff,
    516px 551px #fff,
    872px 142px #fff,
    1518px 1369px #fff,
    1608px 51px #fff,
    1688px 1451px #fff,
    719px 1996px #fff,
    1764px 114px #fff,
    1952px 341px #fff,
    1243px 1449px #fff,
    1219px 352px #fff,
    76px 419px #fff,
    1643px 701px #fff,
    1054px 1670px #fff,
    1681px 1347px #fff,
    122px 632px #fff,
    763px 752px #fff,
    813px 439px #fff,
    1695px 1284px #fff,
    1558px 1548px #fff,
    1561px 1375px #fff,
    379px 898px #fff,
    341px 456px #fff,
    410px 1477px #fff,
    549px 63px #fff,
    1052px 782px #fff,
    136px 511px #fff,
    610px 387px #fff,
    725px 1410px #fff,
    633px 1474px #fff,
    1349px 1033px #fff,
    621px 1338px #fff,
    1466px 249px #fff,
    1778px 87px #fff,
    1014px 995px #fff,
    1560px 849px #fff,
    57px 292px #fff,
    244px 154px #fff,
    35px 873px #fff,
    1325px 846px #fff,
    574px 96px #fff,
    552px 543px #fff,
    597px 701px #fff,
    1051px 1565px #fff,
    821px 755px #fff,
    571px 237px #fff,
    744px 1809px #fff,
    813px 992px #fff,
    535px 998px #fff,
    53px 1440px #fff,
    1041px 836px #fff;
  animation: animStar 150s linear infinite;
  z-index: -1;
  position: fixed;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1544px 1790px #fff,
    855px 1862px #fff,
    1228px 178px #fff,
    1046px 1076px #fff,
    643px 189px #fff,
    1983px 148px #fff,
    1677px 249px #fff,
    929px 1855px #fff,
    66px 321px #fff,
    92px 674px #fff,
    282px 1412px #fff,
    867px 219px #fff,
    329px 1011px #fff,
    216px 229px #fff,
    70px 1650px #fff,
    1911px 1358px #fff,
    94px 1453px #fff,
    816px 1868px #fff,
    254px 1308px #fff,
    303px 319px #fff,
    1986px 1875px #fff,
    912px 724px #fff,
    1816px 101px #fff,
    1367px 355px #fff,
    262px 2000px #fff,
    1606px 695px #fff,
    1171px 1341px #fff,
    803px 523px #fff,
    1875px 842px #fff,
    933px 339px #fff,
    186px 1521px #fff,
    1409px 669px #fff,
    728px 642px #fff,
    1193px 1550px #fff,
    689px 25px #fff,
    1502px 1266px #fff,
    1710px 520px #fff,
    1730px 1567px #fff,
    1751px 1154px #fff,
    1226px 1945px #fff,
    129px 902px #fff,
    1172px 347px #fff,
    971px 613px #fff,
    1070px 73px #fff,
    1138px 338px #fff,
    299px 569px #fff,
    396px 259px #fff,
    1739px 406px #fff,
    462px 433px #fff,
    156px 1558px #fff,
    516px 551px #fff,
    872px 142px #fff,
    1518px 1369px #fff,
    1608px 51px #fff,
    1688px 1451px #fff,
    719px 1996px #fff,
    1764px 114px #fff,
    1952px 341px #fff,
    1243px 1449px #fff,
    1219px 352px #fff,
    76px 419px #fff,
    1643px 701px #fff,
    1054px 1670px #fff,
    1681px 1347px #fff,
    122px 632px #fff,
    763px 752px #fff,
    813px 439px #fff,
    1695px 1284px #fff,
    1558px 1548px #fff,
    1561px 1375px #fff,
    379px 898px #fff,
    341px 456px #fff,
    410px 1477px #fff,
    549px 63px #fff,
    1052px 782px #fff,
    136px 511px #fff,
    610px 387px #fff,
    725px 1410px #fff,
    633px 1474px #fff,
    1349px 1033px #fff,
    621px 1338px #fff,
    1466px 249px #fff,
    1778px 87px #fff,
    1014px 995px #fff,
    1560px 849px #fff,
    57px 292px #fff,
    244px 154px #fff,
    35px 873px #fff,
    1325px 846px #fff,
    574px 96px #fff,
    552px 543px #fff,
    597px 701px #fff,
    1051px 1565px #fff,
    821px 755px #fff,
    571px 237px #fff,
    744px 1809px #fff,
    813px 992px #fff,
    535px 998px #fff,
    53px 1440px #fff,
    1041px 836px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
